.h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}
.h3 {
    font-size: 1.17em;
    margin: 1em 0;
}
.h4 {
    margin: 1.33em 0;
}
body {
    font-family: sans-serif;
}
.wrapper {
    width: 600px;
    margin: 0 auto;
}
#masthead {
    background-color: #ffffff;
    text-align: center;
}
#header img {
    width: 300px;
}
#content {
    min-height: 250px;
    text-align: center;
}
#search-results {
    text-align: left;
}
#search-results li {
    min-height: 115px;
    list-style-type: none;
    clear: both;
}
#search-results img {
    float: left;
    padding: 0 10px 10px 0;
}
#footer {
    min-height: 100px;
    background-color: #424145;
    color: #C8C5D1;
    font-size: 0.85rem;
    padding: 10px;
}
.left-footer {
    float: left;
}
.right-footer {
    float: right;
}
a {
    color: #FF1200;
    text-decoration: none;
}
